<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Quadruped2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.009523 -0.0385 0.013943"
        rpy="0 0 0" />
      <mass
        value="0.2676" />
      <inertia
        ixx="9.2769E-05"
        ixy="7.7686E-14"
        ixz="-9.1962E-16"
        iyy="3.6001E-05"
        iyz="-1.1582E-13"
        izz="9.0213E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.91373 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="leg_1_hip">
    <inertial>
      <origin
        xyz="0.023894 0.031793 0.026781"
        rpy="0 0 0" />
      <mass
        value="0.067078" />
      <inertia
        ixx="2.3794E-05"
        ixy="-1.0309E-06"
        ixz="-2.0852E-08"
        iyy="2.4924E-05"
        iyz="-5.2785E-11"
        izz="1.0683E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_1_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.91373 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_1_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg1_hip_joint"
    type="revolute">
    <origin
      xyz="0.06197 -0.082557 0.0385"
      rpy="-3.1416 0 -0.11014" />
    <parent
      link="base_link" />
    <child
      link="leg_1_hip" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="10"
      velocity="5" />
  </joint>
  <link
    name="leg_1_knee">
    <inertial>
      <origin
        xyz="-0.0273933311353252 0.02353648171809 -0.0440595811465148"
        rpy="0 0 0" />
      <mass
        value="0.0696914929566026" />
      <inertia
        ixx="2.58412910976454E-05"
        ixy="-2.36702000274295E-07"
        ixz="-8.45094993325509E-08"
        iyy="1.97651572022937E-05"
        iyz="-4.80970820284466E-07"
        izz="2.56888495687292E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_1_knee.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_1_knee.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_1_knee_joint"
    type="revolute">
    <origin
      xyz="0.060665 0.04177 0.036307"
      rpy="3.1416 0 -1.5708" />
    <parent
      link="leg_1_hip" />
    <child
      link="leg_1_knee" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="10"
      velocity="5" />
  </joint>
  <link
    name="leg_1_ankle">
    <inertial>
      <origin
        xyz="-1.60163549089987E-12 0.0280775387534298 0.0172277429080562"
        rpy="0 0 0" />
      <mass
        value="0.0169824099129692" />
      <inertia
        ixx="1.11378366738052E-05"
        ixy="1.45583787809333E-20"
        ixz="-5.29395592033938E-22"
        iyy="3.39360074925845E-06"
        iyz="-4.2351647362715E-21"
        izz="9.36668224662847E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_1_ankle.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_1_ankle.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_1_ankle_joint"
    type="revolute">
    <origin
      xyz="-0.026724 0.0005 -0.059001"
      rpy="3.1416 -1.0269 -3.1416" />
    <parent
      link="leg_1_knee" />
    <child
      link="leg_1_ankle" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="10"
      velocity="5" />
  </joint>
  <link
    name="leg_2_hip">
    <inertial>
      <origin
        xyz="0.0238940050801613 -0.0318845074147884 0.0267811755417208"
        rpy="0 0 0" />
      <mass
        value="0.067077752877841" />
      <inertia
        ixx="2.37941890051847E-05"
        ixy="1.03091155379357E-06"
        ixz="-2.08139070141727E-08"
        iyy="2.4923936371607E-05"
        iyz="-5.3739338014653E-11"
        izz="1.06832159906692E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_2_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_2_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_2_hip_joint"
    type="revolute">
    <origin
      xyz="0.06177 0.0055571 0.0385"
      rpy="3.1416 0 0.85297" />
    <parent
      link="base_link" />
    <child
      link="leg_2_hip" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="10"
      velocity="5" />
  </joint>
  <link
    name="leg_2_knee">
    <inertial>
      <origin
        xyz="-0.0172246793374685 0.0235364817631275 0.048938244205578"
        rpy="0 0 0" />
      <mass
        value="0.0696914931210686" />
      <inertia
        ixx="2.58698343502602E-05"
        ixy="-1.27170098298992E-07"
        ixz="4.44517656768534E-08"
        iyy="1.97651570902313E-05"
        iyz="5.20757544364336E-07"
        izz="2.56603061766923E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_2_knee.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_2_knee.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_2_knee_joint"
    type="revolute">
    <origin
      xyz="0.060665 -0.04197 0.036307"
      rpy="0 0 1.5708" />
    <parent
      link="leg_2_hip" />
    <child
      link="leg_2_knee" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="10"
      velocity="5" />
  </joint>
  <link
    name="leg_2_ankle">
    <inertial>
      <origin
        xyz="2.41015540858314E-13 0.0280775387539016 0.0172277429093309"
        rpy="0 0 0" />
      <mass
        value="0.0169824099129692" />
      <inertia
        ixx="1.11378366738052E-05"
        ixy="1.9124415762226E-21"
        ixz="1.24407964127975E-21"
        iyy="3.39360074925847E-06"
        iyz="-1.05879118406788E-22"
        izz="9.36668224662841E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_2_ankle.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_2_ankle.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_2_ankle_joint"
    type="revolute">
    <origin
      xyz="-0.013342 0.0005 0.063382"
      rpy="0 1.0652 0" />
    <parent
      link="leg_2_knee" />
    <child
      link="leg_2_ankle" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="10"
      velocity="5" />
  </joint>
  <link
    name="leg_3_hip">
    <inertial>
      <origin
        xyz="0.0241828883812016 0.0321769652231079 0.0275025641969806"
        rpy="0 0 0" />
      <mass
        value="0.066276459588986" />
      <inertia
        ixx="2.37727609910915E-05"
        ixy="-1.03091184500867E-06"
        ixz="-2.08521162712471E-08"
        iyy="2.49025086234508E-05"
        iyz="-5.32765752149683E-11"
        izz="1.06429144479617E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_3_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_3_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_3_hip_joint"
    type="revolute">
    <origin
      xyz="-0.04277 0.0055571 0.0395"
      rpy="3.1416 0 2.8191" />
    <parent
      link="base_link" />
    <child
      link="leg_3_hip" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="10"
      velocity="5" />
  </joint>
  <link
    name="leg_3_knee">
    <inertial>
      <origin
        xyz="0.022535757370651 0.0235364817720182 0.046730941844128"
        rpy="0 0 0" />
      <mass
        value="0.0696914931416134" />
      <inertia
        ixx="2.58574870955368E-05"
        ixy="1.84030693395254E-07"
        ixz="-6.64123894891356E-08"
        iyy="1.97651574003442E-05"
        iyz="5.03481344224449E-07"
        izz="2.56726538455517E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_3_knee.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_3_knee.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_3_knee_joint"
    type="revolute">
    <origin
      xyz="0.060665 0.04177 0.037307"
      rpy="0 0 1.5708" />
    <parent
      link="leg_3_hip" />
    <child
      link="leg_3_knee" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="10"
      velocity="5" />
  </joint>
  <link
    name="leg_3_ankle">
    <inertial>
      <origin
        xyz="-3.77475828372553E-13 -0.0280775387538629 -0.0172277429088288"
        rpy="0 0 0" />
      <mass
        value="0.0169824099129692" />
      <inertia
        ixx="1.11378366738052E-05"
        ixy="-1.32613595804501E-20"
        ixz="3.91752738105114E-21"
        iyy="3.39360074925847E-06"
        iyz="-1.09055491958991E-20"
        izz="9.36668224662844E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_3_ankle.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_3_ankle.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_3_ankle"
    type="revolute">
    <origin
      xyz="0.020276 0.0005 0.061516"
      rpy="-3.1416 -0.27473 0" />
    <parent
      link="leg_3_knee" />
    <child
      link="leg_3_ankle" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="10"
      velocity="5" />
  </joint>
  <link
    name="leg_4_hip">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_4_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_4_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_4_hip_joint"
    type="revolute">
    <origin
      xyz="-0.04277 -0.082557 0.0385"
      rpy="3.1416 0 2.7272" />
    <parent
      link="base_link" />
    <child
      link="leg_4_hip" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="10"
      velocity="5" />
  </joint>
  <link
    name="leg_4_knee">
    <inertial>
      <origin
        xyz="0.00942340047984894 -0.0235364817848778 0.0510180443551113"
        rpy="0 0 0" />
      <mass
        value="0.0696914932488965" />
      <inertia
        ixx="2.58784169647603E-05"
        ixy="-4.48354639318911E-08"
        ixz="-1.01973715083098E-08"
        iyy="1.97651568669948E-05"
        iyz="-5.3418202864247E-07"
        izz="2.56517232194019E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_4_knee.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_4_knee.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_4_knee_joint"
    type="revolute">
    <origin
      xyz="0.060665 -0.04177 0.036307"
      rpy="0 0 -1.5708" />
    <parent
      link="leg_4_hip" />
    <child
      link="leg_4_knee" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="10"
      velocity="5" />
  </joint>
  <link
    name="leg_4_ankle">
    <inertial>
      <origin
        xyz="-3.58990615012544E-13 -0.028077538753643 -0.0172277429089472"
        rpy="0 0 0" />
      <mass
        value="0.0169824099129692" />
      <inertia
        ixx="1.11378366738052E-05"
        ixy="1.11173074327127E-21"
        ixz="-7.83505476210228E-21"
        iyy="3.39360074925846E-06"
        iyz="1.1964340379967E-20"
        izz="9.36668224662846E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_4_ankle.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/leg_4_ankle.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_4_ankle_joint"
    type="revolute">
    <origin
      xyz="0.0033472 -0.0005 0.064685"
      rpy="-3.1416 -0.5198 3.1416" />
    <parent
      link="leg_4_knee" />
    <child
      link="leg_4_ankle" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="10"
      velocity="5" />
  </joint>
</robot>